* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #121212;
  color: #f0f0f0;
  line-height: 1.6;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 5.5rem;
  color: #00ffff;
}
section h2{
    font-size: 5.5rem;
}
section p{
    font-size: 5.2rem;
}
section li{
    font-size: 5.2rem;
}

footer p{
  font-size: 5.2rem;

}
header p {
  font-size: 5.2rem;
  color: #ccc;
}

section {
  margin-bottom: 50px;
}

h2 {
  border-bottom: 2px solid #00ffff;
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #00ffff;
}

#skills ul {
  list-style: none;
}

#skills li {
  padding: 8px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.grid img {
  width: 30%;
  border: 1px solid #00ffff;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.grid img:hover {
  transform: scale(1.05);
}

#contact p {
  margin: 10px 0;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #333;
  font-size: 0.9rem;
  color: #888;
}